Repository carbon-design-system/carbon-labs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @carbon-design-system/carbon-for-ibm-products-reviewers, @carbon-design-system/carbon-ai-chat-admins, @carbon-design-system/developers-system-reviewers, @carbon-design-system/carbon-ui-shell-labs-devs, @carbon-design-system/animated-header-devs, @carbon-design-system/processing-devs, @carbon-design-system/text-highlighter-devs, @carbon-design-system/theme-settings-devs, @carbon-design-system/developers-system-admins

fix(empty state): yarn conflict resolve
  yarn.lock
Owners: @carbon-design-system/carbon-for-ibm-products-reviewers

chore(generate scripts): update scripts
  packages/react/tasks/generate/templates/README.md
  packages/react/tasks/generate/templates/package-edit.json
  packages/web-components/tasks/generate/templates/README.md
  packages/web-components/tasks/generate/templates/package-edit.json
Owners: @carbon-design-system/carbon-for-ibm-products-reviewers

chore(generate script): update readme
  packages/react/tasks/generate/templates/README.md
  packages/web-components/tasks/generate/templates/README.md
Owners: @carbon-design-system/carbon-for-ibm-products-reviewers

chore(generate script): update readme
  packages/react/tasks/generate/templates/README.md
  packages/web-components/tasks/generate/templates/README.md
Owners: @carbon-design-system/carbon-for-ibm-products-reviewers

fix(generate scripts): format issue
  packages/react/tasks/generate/templates/README.md
  packages/web-components/tasks/generate/templates/README.md
Owners: @carbon-design-system/carbon-for-ibm-products-reviewers

feat(HeaderAction): add classname to HeaderActionContent
  packages/react/src/components/UIShell/components/HeaderAction.tsx
Owners: @carbon-design-system/carbon-ui-shell-labs-devs

refactor(HeaderPopover): rename component
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/HeaderPopover.tsx
  packages/react/src/components/UIShell/index.ts
Owners: @carbon-design-system/carbon-ui-shell-labs-devs

feat(header): restore focus styles for header action element
  packages/react/src/components/UIShell/components/styles/_header.scss
Owners: @carbon-design-system/carbon-ui-shell-labs-devs

feat(HeaderAction): begin animation support
  packages/react/src/components/UIShell/components/HeaderAction.tsx
  packages/react/src/components/UIShell/components/styles/_header.scss
Owners: @carbon-design-system/carbon-ui-shell-labs-devs

refactor(HeaderPopover): remove deprecated alignment options from propTypes
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/HeaderPopover.tsx
Owners: @carbon-design-system/carbon-ui-shell-labs-devs

docs(UIShell): add Header story
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/HeaderAction.tsx
Owners: @carbon-design-system/carbon-ui-shell-labs-devs

feat(uishell): add HeaderPopover and related components to documentation and stories
  packages/react/src/components/UIShell/README.md
  packages/react/src/components/UIShell/__stories__/UIShell.mdx
Owners: @carbon-design-system/carbon-ui-shell-labs-devs

fix(header): animate panel transitions
  packages/react/src/components/UIShell/components/styles/_header.scss
Owners: @carbon-design-system/carbon-ui-shell-labs-devs

refactor(UIShell): remove alias
  packages/react/src/components/UIShell/index.ts
Owners: @carbon-design-system/carbon-ui-shell-labs-devs

fix(header): stylelint ignore `@starting-style`
  packages/react/src/components/UIShell/components/styles/_header.scss
Owners: @carbon-design-system/carbon-ui-shell-labs-devs

feat(HeaderAction): add className to HeaderActionButton
  packages/react/src/components/UIShell/components/HeaderAction.tsx
Owners: @carbon-design-system/carbon-ui-shell-labs-devs

feat(header): update button hover styles and add custom properties for focus color
  packages/react/src/components/UIShell/components/styles/_header.scss
Owners: @carbon-design-system/carbon-ui-shell-labs-devs

refactor(HeaderPopover): remove animation type prop and related styles
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/HeaderPopover.tsx
  packages/react/src/components/UIShell/components/styles/_header.scss
Owners: @carbon-design-system/carbon-ui-shell-labs-devs

feat(header): add background color for open header action popover
  packages/react/src/components/UIShell/components/styles/_header.scss
Owners: @carbon-design-system/carbon-ui-shell-labs-devs

feat(HeaderAction): add header action component
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/HeaderAction.tsx
  packages/react/src/components/UIShell/components/styles/_header.scss
  packages/react/src/components/UIShell/index.ts
Owners: @carbon-design-system/carbon-ui-shell-labs-devs

feat(header): add custom properties for toggletip links
  packages/react/src/components/UIShell/components/styles/_header.scss
Owners: @carbon-design-system/carbon-ui-shell-labs-devs

feat(uishell): add HeaderPopover components to UIShell stories and update HeaderGlobalAction tooltip
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Owners: @carbon-design-system/carbon-ui-shell-labs-devs

chore: update default story
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Owners: @carbon-design-system/carbon-ui-shell-labs-devs

feat(UIShell): add HeaderPopover (#518)
  packages/react/src/components/UIShell/README.md
  packages/react/src/components/UIShell/__stories__/UIShell.mdx
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/HeaderPopover.tsx
  packages/react/src/components/UIShell/components/styles/_header.scss
  packages/react/src/components/UIShell/index.ts
Owners: @carbon-design-system/carbon-ui-shell-labs-devs

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/package.json
Owners: @carbon-design-system/carbon-for-ibm-products-reviewers, @carbon-design-system/carbon-ui-shell-labs-devs

fix(storybook): remove background button (#549)
  packages/react/.storybook/preview.js
Owners: @carbon-design-system/carbon-for-ibm-products-reviewers

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
Owners: @carbon-design-system/carbon-for-ibm-products-reviewers

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the
# repo. Unless a later match takes precedence, this team will
# be requested for review when someone opens a pull request.
* @carbon-design-system/carbon-for-ibm-products-reviewers

# Carbon AI Chat
/packages/web-components/src/components/chat/ @carbon-design-system/carbon-ai-chat-admins @carbon-design-system/developers-system-reviewers

# Carbon UI Shell
/packages/react/src/components/UIShell/ @carbon-design-system/carbon-ui-shell-labs-devs

# Other packages
/packages/react/src/components/AnimatedHeader/   @carbon-design-system/animated-header-devs
/packages/react/src/components/Processing/       @carbon-design-system/processing-devs
/packages/react/src/components/TextHighlighter/  @carbon-design-system/text-highlighter-devs
/packages/react/src/components/ThemeSettings/    @carbon-design-system/theme-settings-devs


# Admins should be notified of changes to CI/CD workflows
# codeowners, and any other config present in .github.
# This should always be the last entry in this file.
/.github/           @carbon-design-system/developers-system-admins
/.github/CODEOWNERS @carbon-design-system/developers-system-admins
